* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #848484;
    transition: 1s;
}

.intro-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    display: flex;
    align-items: center;
}

.earth-icon {
    position: relative;
    margin-top: 22%;
}

.splash {
    position: relative;
    display: inline-block;
    padding: 0.5vh;
    bottom: -20px;
    opacity: 0;
}

.splash.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.splash.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bdbbbb;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.header-photo-container {
    margin-top: 40px;
    margin-bottom: 30px;
}

.header-selfie {
    object-fit: cover;
    object-position: center 30%;
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    border: 8px solid #8f8d8d;
    margin-bottom: 30px;
}

.header-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#header-photo-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.header-nav-container a {
    text-decoration: none;
    color: inherit;
    padding: 10px 0;
    transition: color 0.5s;
}

.header-nav-container a:hover {
    color: #0053a0;
}

.header-links-container a {
    text-decoration: none;
}

.header-links-container a i {
    margin: 15px;
}

.header-copyright-container {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.copyright-info {
    font-size: 12px;
    padding: 10px 0;
    text-align: center;
}